
body {
  margin-top: 50px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央寄せしたい場合 */
}

.calculator {
    display: block;  
    border: 1px solid #222;
    padding: 10px;
    width: 360px;
    background-color: #aaa;
}

.display {
    width: 98%;
    height: 40px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    height: 60px;
    font-size: 24px;
    cursor: pointer;
}
